body {
	background: url('https://usatsbi.files.wordpress.com/2010/08/6a00e54ef2975b8833013486310b64970c-pi.jpg') fixed;
	background: url('http://www.wallpaperup.com/uploads/wallpapers/2014/04/17/336055/3ad6ded07223fc65b07372493ee313a8.jpg');
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
}


h1,h2,h3,h4,h5,h6 {
	color: #fff;
}


#signup {
	color: #fff;
    background-color:rgba(0,0,0,.5);
}


video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}