<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="http://icons.iconarchive.com/icons/sportsbettingspot/summer-olympics/16/football-icon.png">
    <title>Football Stats - 404</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/viewcss/404.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="content">
                <div class="logo">
                    <h1><a href="{{home}}"><img src="/pictures/404.png"/></a></h1>
                    <br/>
                    <span><img src="/pictures/signal.png"/>Oops! The Page you requested was not found!</span>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <br/>
            <a href="{{home}}">
                <span><i class="glyphicon glyphicon-home"></i> Home</span>
            </a>
        </div>
    </footer>
</body>
</html>